[Unit]
Description=Runs the Gogs-Drone-backup every 24 hours

[Timer]
OnBootSec=10min
OnUnitActiveSec=24hr
Unit=docker-gogs-drone-backup.service

[Install]
WantedBy=timers.target
