[Unit]
Description=Drone-db container
Requires=docker.service
After=docker.service

[Service]
Restart=always
ExecStart=/usr/bin/docker start -a drone-db
ExecStop=/usr/bin/docker stop -t 10 drone-db

[Install]
WantedBy=local.target
