[Unit]
Description=Consul container
Requires=docker.service
After=docker.service

[Service]
Restart=always
ExecStart=/usr/bin/docker start -a consul
ExecStop=/usr/bin/docker stop -t 10 consul

[Install]
WantedBy=local.target
