[Unit]
Description=Registrators container
Requires=docker-consul.service
After=docker-consul.service

[Service]
Restart=always
ExecStart=/usr/bin/docker start -a registrator
ExecStop=/usr/bin/docker stop -t 10 registrator

[Install]
WantedBy=multi-user.target
