[Unit]
Description=Gogs-db container
Requires=docker-registrator.service
After=docker-registrator.service

[Service]
Restart=always
ExecStart=/usr/bin/docker start -a gogs-db
ExecStop=/usr/bin/docker stop -t 10 gogs-db

[Install]
WantedBy=multi-user.target
