[Unit]
Description=Runs the Gogs-Drone-backup every 24 hours

[Timer]
OnBootSec=10min
OnUnitActiveSec=24h
Unit=docker-gogs-drone-backup.service

[Install]
WantedBy=multi-user.target
